<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SudsOnSale</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/230a732877.js" crossorigin="anonymous"></script>

</head>


<body>
    <header>
        <div class="site">
            <div class="site-name">
                <a href="/"><span><b>S</b>uds On <span><b>$</b>ale <span><i class="fa-solid fa-champagne-glasses"></i></span></a>
            </div>
        </div>
    </header>
    <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn">Logout</button>
        {{else}}
        <a href="login">Login</a>
        {{/if}}
        <section>
            {{!-- navigation list --}}
            <a href="/beer">Beer</a>
            <a href="/wine">Wine</a>
            <a href="/spirits">Spirits</a>
        </section>
    </nav>
    <div class="wrap">
        <main>
            {{{ body }}}
        </main>

    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>